@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.content-title-hr {
    margin-top: 0.5rem;
}

.content-wrapper {
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    font-family: 'Roboto', sans-serif;
}

.content {
    width: 1200px;
    height: auto;
    display: flex;
    flex-direction: column;
}

.base-box {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    margin-bottom: 1.5rem;
}

.content-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.category-title {
    font-size: 1.5rem;
    text-transform: uppercase;
}

.move-right-movie-left {
    display: flex;
    gap: 1rem;
}

.left, .right {
    background-color: #00CED1;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left:focus, .right:focus {
    background-color: white;
}



.shows-wrapper {
    display: flex;
    height: 355px;
    gap: 1.20rem;
    width: 100%;
    overflow: hidden;
}

.shows {
    flex-grow: 1;
    min-width: 184px;
    height: 100%;
    display: flex;
    flex-direction: column;
    opacity: 0;
    animation-name: fade;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.show-all {
    min-width: 180px;
    height: 282px;
    background-color: #1e1e23;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 5px;
}

.show-all-link {
    text-decoration: none;
}

.show-all h3 {
    color: white;
}

.show-all p {
    color: rgb(187, 185, 185);
}



.box-image {
 width: 100%;
 height: 280px;
}


.box-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
}


.tv-show-name {
    height: 45px;
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 1.3rem;
    margin-top: 0.5rem;
    overflow: hidden;
}

.tv-show-name p {
    font-size: 1.2rem;
}


@keyframes fade {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }