nav {
    background-color: #1e1e23;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 10px;
    padding-right: 15px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid rgb(38, 73, 87);
    z-index: 9999;
}

.dropdown {
    position: relative;
    color: black;
    padding:  0.5rem;
    height: 70px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: all 0.3s ease;
    display: flex;
    align-items: center;
  }
  

  .dropdown-content {
    position: absolute;
    z-index: 1;
    width: 350px;
    height: 300px;
    background-color: #1e1e23;
    display: none;
    flex-direction: column;
    top: 65px;
    left: 50px;
    gap: 0.5rem;
    font-family: 'Roboto', sans-serif;
    box-shadow: 5px 8px 10px 0px rgba(0,0,0,0.9);
    padding: 1rem;
    color: white;
    animation: poof 0.4s;
    border-bottom: 5px solid #00CED1;
  }

  .dropdown-title hr {
    width: 100%;
    margin-top: 1rem;
  }

  .dropdown-links {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    font-size: 1.1rem;
    margin-top: 1rem;
  }

  .show-dropdown {
    display: flex;
    flex-direction: column;
  }


.logo {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.logo p {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 2rem;
}

.dropdown-categorie, .dropdown-menu {
    color: white;
    text-decoration: none;
}

.site-name { 
    color: #00CED1;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Russo One', sans-serif;
    letter-spacing: 0.2rem;
}

.site-nameTwo {
  color: #00CED1;
  font-size: 2rem;
  text-decoration: none;
  font-family: 'Russo One', sans-serif;
  letter-spacing: 0.2rem;
  display: none;
  margin-top: 1rem;
}


.mobile-app {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #00CED1;
}

.about {
  text-decoration: none;
  color: #00CED1;
  font-size: 1.2rem;
}

.mobile-app button {
    padding: 0.8rem 2rem;
    border: 1px solid  #00CED1;
    color:  #00CED1;
    background: none;
    border-radius: 1px;
    cursor: pointer;
}


@media only screen and (max-width: 524px) {
nav {
  padding-left: 5px;
}

  .dropdown-content {
    left: 0;
    padding: 1rem;
    height: 300px;
  }

  .dropdown-links {
    gap: 1.5rem;
  }



  .site-name {
    display: none;
  }

  .site-nameTwo {
    display: block;
  }

  .dropdown-content {
    gap: 0;
  }
}


