nav {
  background-color: #16181f;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  padding-right: 20px;
  position: sticky;
  top: 0;
  border-bottom: 1px solid #0f5c5e;
  z-index: 9999;
}

.dropdown {
  position: relative;
  color: black;
  padding: 0.5rem;
  height: 70px;
  font-size: 1.3rem;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
}

.mobile-menu-icon {
  cursor: pointer;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  width: 320px;
  height: 300px;
  background-color: #16181f;
  display: none;
  flex-direction: column;
  top: 65px;
  gap: 1rem;
  font-family: "Roboto", sans-serif;
  box-shadow: 5px 8px 10px 0px rgba(0, 0, 0, 0.9);
  padding: 1rem;
  color: white;
  animation: poof 0.4s;
  border-bottom: 1px solid #0f5c5e;
}

.dropdown-title {
  font-family: "Montserrat", sans-serif;
}

.dropdown-title hr,
.test hr {
  width: 100%;
  margin-top: 1rem;
  border-color: #00ced1;
}

hr {
  border-color: #00ced1;
}

.dropdown-links {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.4rem;
}

.dropdown-links a:hover {
  color: #00ced1;
  transition: all 0.3s;
}

.links-dropdown {
  display: flex;
  gap: 1.5rem;
  margin-top: 0.5rem;
}

.links-dropdown a {
  color: #fff;
  text-decoration: none;
}

.show-dropdown {
  display: flex;
  flex-direction: column;
}

.logo {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.logo p {
  font-size: 1.2rem;
  text-transform: uppercase;
  margin-top: 1rem;
}

.dropdown-categorie,
.dropdown-menu {
  color: white;
  text-decoration: none;
}

.site-name {
  color: #00ced1;
  text-decoration: none;
  font-size: 1.8rem;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.1rem;
}

.site-nameTwo {
  color: #00ced1;
  font-size: 2rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 0.2rem;
  display: none;
  margin-top: 1rem;
}

.mobile-app {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #00ced1;
}

.about {
  text-decoration: none;
  color: #00ced1;
  font-size: 1.2rem;
}

.mobile-app button {
  padding: 0.8rem 1.5rem;
  border: 1px solid #00ced1;
  color: #00ced1;
  background: none;
  border-radius: 1px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  transition: all 0.4s;
}

.mobile-app button:hover {
  background-color: #00ced1;
  color: black;
}

.closeDiv-navbar {
  position: absolute;
  top: 15px;
  right: 5px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: auto;
  padding-right: 0.5rem;
}

.close-x-navbar {
  position: absolute;
  top: -1px;
  right: 0;
  font-size: 45px;
  height: 30px;
  width: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

@media only screen and (max-width: 524px) {
  nav {
    padding-left: 5px;
    padding-right: 8px;
  }

  .logo {
    gap: 0.7rem;
  }

  .icons-dropdown {
    display: none;
  }

  .closeDiv-navbar {
    display: block;
  }

  .dropdown-content {
    left: 0;
    padding: 1rem;
    gap: 1rem;
  }

  .site-name {
    font-size: 1.6rem;
  }

  .site-nameTwo {
    display: block;
  }
}
